/*font-family: "Teko", sans-serif;*/
html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 5rem;
}
.container1 {
    background-color: rgb(253, 223, 204);
    border: 2px solid rgb(176, 162, 154);
    padding: 40px;
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
}

.logo {
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 3.5em;
    cursor: crosshair;
    justify-items: center;
}

.list {
    margin: 2em;
}
.list ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    justify-items: center;
    
}

.line {
    margin-top: 4em;
    border-top: 2px solid black;
}

p {
    font-size: 1rem;
    font-weight: 2px;
}

/* Footer 2 */
.container2 {
    display: flex;
    margin-top: 5rem;
    background-color: rgb(61, 69, 70);
    padding: 5px;
    width: 100%;
}